* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body {
    background-color: #000000;
}

.contener {
    width: 80%;
    margin: auto;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.911);
    position: fixed;
    z-index: 999;
}
.scroll{
    width: 100%;
    height: 10px;
    position: absolute;
    top: 80%;

}
.nav.scrolled .logo a
,.nav.scrolled .link a{
    color: rgb(31, 98, 199);
}

.logo {
    margin-left: 180px;
}

.logo a {
    text-decoration: none;
    color: rgb(99, 158, 9);
}

.logo a:hover
,.nav.scrolled .logo a:hover {
    color: rgb(255, 255, 255);
}

.link {
    width: 27%;
    margin-left: 800px;
    
}

.link a {
    text-decoration: none;
    color: rgb(99, 158, 9);
    margin-right: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link a:hover
,.nav.scrolled .link a:hover {
    color: rgb(255, 255, 255);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./Photos/imgs/background\ 1.jpg);
    background-size: cover;
}

.content {
    position: absolute;
    width: 27%;
    left: 550px;
    top: 300px
}

.content h2 {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}

.content p {
    color: white;
    margin-top: 10px;
}

.content button {
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(99, 158, 9);
    padding: 10px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.layout {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.intro {
    margin-top: 100px;
}

.intro h3 {
    text-align: center;
    word-spacing: 6px;
    margin-bottom: 10px;
    color: rgb(26, 74, 146);;
}

.intro p {
    margin-bottom: 90px;
    text-align: center;
    color: rgb(184, 184, 184);
}


.images img {
    width: 600px;
    border-radius: 50px;
    
    
}
.images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}

.meating {
    margin-top: 100px;
    margin-bottom: 50px;
}

.meating h4 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 50px;
}

.girls {
    display: flex;
    width: 70%;
    margin: auto;
    
}

.meating .girl1,
.girl2,
.girl3,
.girl4 {
    width: 100%;
    margin-right: 30px;
    
}

.girls img {
    width: 100%;
    border-radius: 10px;
}

.girls h3 {
    color: rgb(26, 74, 146);
    text-align: center;
    text-transform: capitalize;
    margin-top: 7px;
    margin-bottom: 5px;
}

.girls p {
    color: rgb(184, 184, 184);
    text-align: center;
}

.form {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    height: 70vh;
background-image: url(./Photos/imgs/background\ 3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 40px;

}


.form .content-form {
    width: 50%;
    margin: auto;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.397);
    opacity: 0.9;
    border-radius: 50px;
    margin-top: 65px;
    color: #fff;
}

.form h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 35px;
 
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form input {
    border: 0;
    border-radius: 50px;
    color: white;
    
    
}

.form .input4{
    border-radius: 10px;
    position: relative;
    width: 90%;
    left: 5% ;
    text-align: center;
    color: #ffffff;
    background-color: rgba(27, 27, 27, 0.877);
    height: 100px;
}

.form .input1 {
    width: 40%;
    padding: 10px;
    margin-right: 36px;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: rgba(27, 27, 27, 0.877);
}

.form .input2 {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(27, 27, 27, 0.877);}

.form .input3 {
    width: 650px;
    margin-left: 50px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(27, 27, 27, 0.877);
}

            .submet:hover{
            background-color: rgba(27, 27, 27, 0.877);
            color:rgb(12, 57, 206);
        }


.submet  {
    background-color: rgb(27, 47, 112);
    margin-left: 45%;
    padding: 10px;
    width: 80px;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer {
    /* border: 1px solid blue; */
    display: flex;
    margin-bottom: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.div1 {
    /* border: 1px solid red; */
    width: 30%;
    margin-right: 100px;
}

.div2 {
    /* border: 1px solid rgb(32, 8, 8); */
    width: 30%;
    margin-right: 100px;

}

.div3 {
    /* border: 1px solid rgb(204, 117, 117); */
    width: 30%;
    margin-right: 10px;
}
.icon{
    display: block;
margin: 1% 20%;
}

.footer h4 {
    text-align: center;
    margin-bottom: 10px;
}

.div2 p {
    padding-left: 60px;
}

.div3 i {
    margin-right: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.icon {
    margin-left: 90px;
}

@media screen and (min-width: 0px) and (max-width: 768px){
    
}